<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File"
				name="allfile"
				fileName="c:\temp\myprogram\last-run-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="c:\temp\myprogram\archive\old-run-${shortdate}.log"
				archiveNumbering="Date"
				archiveDateFormat="yyy-MM-dd_HH.mm.ss"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="10"
				/>
	</targets>
</nlog>